:root {
  margin:0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #509ce2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.MainContainer button{
  display: block;
  margin: 0px auto;
  height: 50px;
  font-size: 15px;
  width: 150px;
  border: 0px;
  background-color: aliceblue;
  color: #242424;
  border-radius: 8px;
  margin-bottom: 25px;
}
.MainContainer {
  margin-top: 30px;
  margin-left:10px;
}
.MainContainer button:active{
  transform: scale(0.9);
}

.MainContainer button:hover{
  box-shadow: 0px 0px 7px white;
}


* {
  margin: 0;
  padding: 0;
}
.Page-header h1 {
  font-size: 40px;
  text-align: center;
}

